*.*
*
!*/
!/nemu/*
!/nexus-am/*
!/nanos-lite/*
!/navy-apps/*
!Makefile
!README.md
!.gitignore
!init.sh
/fceux-am
/am-kernels
!.vscode/*
.vscode/compile_commands.json
.vscode/.cache/
!.clang-format
!.clangd